:root {
    --dark-color:burlywood;
    --nav-color: dodgerblue;
    --bg-color: lightcoral;
    --form-bg-color:lightcoral；
    --main-color:lightcoral；
    font-family-serif：Times New Roman, Times, serif；
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

header, main, footer {
    padding: 1rem;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
    background-color: var(--dark-color);
}

.logo {
    grid-column: 1/2;
    width: 6.25rem;
    height: 6.25rem;
    
}

.logo,.logo-link, header h1 {
    grid-column: 1 / -1;
    justify-self: center;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    grid-column: 2/3;
}

nav {
    grid-column: 1/-1;
    width: 100%;
    display: grid;
    position: relative;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--nav-color);
}

.nav-links li {
    position: relative; 
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 0.3125rem 0.625rem;
    display: block;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: var(--bg-color);
}

.nav-links.active .dropdown.open {
    display: block;
}

.dropdown {
    list-style: none;
    padding: 0;
    position: absolute;  
    top: 100%;  
    left: 0;  
    display: none;  
    background-color: var(--nav-color);
    z-index: 1000;
}

.dropdown li {
    text-align: left;  
}


.dropdown a {
    color: papayawhip;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s;
}


.dropdown.open {
    display: block; 
}


.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 1.875rem;
    height: 0.1875rem;
    background-color: #eeeeee;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    width:  1.875rem;
    height: 0.1875rem;
    background-color: #eeeeee;
}

.hamburger::before {
    top: -0.625rem;
}

.hamburger::after {
    bottom: -0.625rem;
}






main h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.card {
    grid-column: span 4;
    border: 0.0625rem solid var(--nav-color);
    border-radius: 0.625rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: white;
    position: relative;
}

.card:nth-of-type(1) {
    background-color: #eeeeee; 
}

.card:nth-of-type(2) {
    background-color: papayawhip; 
}

.card:nth-of-type(3) {
    background-color: #eee; 
}


.img-wrapper {
    display: grid;
    place-items: center;
    height: auto; 
}

.img-wrapper.floating {
    width: 7.8125rem;    
    height: 7.8125rem;   
}

.card img {
    max-width: 12.5rem;
    max-height: 12.5rem;
    border-radius: 0.625rem;
}

.btn-readmore {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    background-color: var(--dark-color);
    color: white;
    text-decoration: none;
    align-self: end;
}

.btn-readmore:hover {
    background-color: var(--nav-color);
}

footer {
    background-color: var(--dark-color);
    padding: 1rem;
    text-align: center;
    color: black;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    font-size: 1rem;
}

.footer-links li {
    grid-column: span 4;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    color: var(--nav-color);
    text-decoration: underline;
}

@media (max-width: 44rem) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin: 0.5rem;
    }

    .card {
        grid-column: span 12;
        margin:0.5rem;
        border: 0.05rem solid var(--nav-color);
        box-sizing: border-box;
    }

    .card img {
        float: left; 
        margin-right: 1rem;
        max-width: none; 
    }

    header {
        grid-template-columns: 1fr;
        position: relative;
    }

    header h1 {
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none; 
        grid-template-columns: 1fr;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .nav-links.active {
        display: grid;
    }

    .footer-links {
        grid-template-columns: repeat(1, 1fr);
    }
}

.page-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.aboutPuppyland p {
    text-align: left;
}

.form {
    background-color: var(--form-bg-color); 
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.5rem solid white; 
    border-radius: 1rem; 
    padding: 1rem; 
}


.form__group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.form__label, .form__checkbox, .form__button, .close-btn {
    color: var(--main-color); 
    font-family: var(--font-family-serif);
    font-weight: 900;
    margin: 0;
    padding: 1rem;
}

.form__button input[type="submit"] {
    background-color: lightcoral; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    border-radius: 0.5rem; 
}

.form__button input[type="submit"]:hover {
    background-color: #FF69B4; 
}


.checkbox__label {
    grid-column: 1/7;
    text-align: grid;
    padding-right: 1rem;
}

.checkbox__input {
    grid-column: 7/13;
}

.form__label, .form__checkbox {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.form__label--name {
    grid-column: 1/7;
    text-align: right;
    padding-right: 1rem;
}

.form__label--blank {
    grid-column: 7/13;
    width: 10rem;
}

@media (max-width: 44rem) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        grid-column: span 12;
    }
    
    .form__group {
        grid-template-columns: 1fr;
    }

    .form__label, .form__checkbox {
        grid-template-columns: 1fr; 
    }

    .form__label--name, .form__label--blank {
        grid-column: 1/-1; 
        text-align: left; 
        padding-right: 0; 
    }
}



@media screen and (min-width: 44rem) {
    .form__label {
        grid-template-columns: repeat(2, 1fr);
    }

    .form__label > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card img {
        float: none; 
        margin-right: 0; 
        width: auto; 
        max-width: 12.5rem; 
    }
}


.error {
    color: red;
    display: none; 
}

.error.active {
    display: block;
}

.btn-subscribe {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;  
    z-index: 9999;  
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: papayawhip;
    padding: 1rem;
    border-radius: 0.375rem;
}


.professionalcards .img-wrapper {
    float: left; 
    width: 12.5rem;
    height: 12.5rem;
    margin-right: 1rem;
    margin-left: 1rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.professionalcard {
    display: block; 
    border-bottom: 1rem solid #ccc; 
    overflow: auto; 
    padding-bottom: 2rem; 
}

.professionalcard .img-wrapper img {
    max-width: 12.5rem; 
    max-height: 12.5rem; 
    width: auto; 
    height: auto; 
    align-items: center;
}

.professionalcard.reverse {
    flex-direction: row-reverse; 
}

.professionalcard.reverse .img-wrapper {
    float: right;
    margin-right: 1rem; 
    margin-left: 1rem; 
}


@media (max-width: 44rem) {
    .professionalcard,
    .professionalcard.reverse {
        display: flex; /* 启用flex布局 */
        flex-direction: row; /* 子元素水平排列 */
        justify-content: center; /* 子元素水平居中 */
        align-items: center; /* 子元素垂直居中 */
        border-bottom: none; /* 移除底部边框 */
        margin-bottom: 0; /* 移除卡片间的间隙 */
    }

    .img-wrapper {
        width: 50%; /* 图片宽度占父容器的50% */
        height: auto; /* 高度自适应 */
        margin: 0; /* 移除自动外边距 */
    }

    .professionalcard .content {
        width: 50%; /* 文字内容宽度也占父容器的50% */
        padding: 0 1rem; /* 添加内边距 */
    }

    .professionalcard.reverse .img-wrapper {
        order: 2; /* 图片在后 */
    }

    .professionalcard.reverse .content {
        order: 1; /* 文本内容在前 */
    }

    /* 如果需要确保图片不要太大，限制一下大小 */
    .img-wrapper img {
        max-width: 100%; /* 图片最大宽度为其容器的宽度 */
        height: auto; /* 高度自适应 */
    }
}




.professionalcard:nth-of-type(1) {
    background-color: #eeeeee; 
}

.professionalcard:nth-of-type(2) {
    background-color: papayawhip; 
}

.professionalcard:nth-of-type(3) {
    background-color: #eee; 
}