:root {
    --main-color: #ad5389;
    --accent-color1: #ff6b6b;
    --accent-color2: #ffaac1;
    --form-bg-color: #fff0f6;
    --header-bg-color: #ffeaf0;
    --font-family-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 0.625rem;
    background-color: var(--header-bg-color); 
    justify-content: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
    font-family: var(--font-family-serif);
    padding: 1rem;
}

h1 {
    color: var(--accent-color1); 
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    color: var(--accent-color2); 
    font-size: 1.5rem;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 1rem 1rem 1rem;
}

p {
    text-align: center;
}

.form {
    background-color: var(--form-bg-color); 
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem;
    width: 90%;
}

.form__label, .form__checkbox, .form__button {
    color: var(--main-color); 
    font-family: var(--font-family-serif);
    font-weight: 900;
    margin: 0;
    padding: 1rem;
}

.form__label {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.form__label--name {
    grid-column: 1/7;
    text-align: right;
    padding-right: 1rem;
}

.form__label--blank {
    grid-column: 7/13;
    width: 10rem;
}

@media screen and (max-width: 600px) {
    .form__label--name {
        grid-column: 1/13;
        text-align: left;
        padding-right: 0;
    }
    .form__label--blank {
        grid-column: 1/13;
        width: 15rem;
    }
}

@media screen and (min-width: 900px) {
    .form__label {
        grid-template-columns: repeat(2, 1fr);
    }

    .form__label > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

footer {
    background-color: #F0F0F050; 
    display: flex;            
    justify-content: center;  
    align-items: center;      
    padding: 10px;         
}

footer p {
    font-size: 1.25rem;     
    margin: 0;               
    text-align: center; 
}





